<main role="main">
  <div id="myCarousel" class="carousel" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="first-slide" [src]="fullImagePath" alt="First slide">
        <div class="container">
          <div class="carousel-caption text-left">
            <h1>Welcome to ngUserAuth</h1>
            <p>This is a User Auth System developed in Angular/NodeJS/Jwt/MongoDB.</p>
            <p><a class="btn btn-lg btn-primary" href="/register" role="button">Sign up today</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing mt-2">

    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Angular <span class="text-muted"> It'll blow your mind.</span></h2>
        <p class="lead">Angular is the best front-end javascript framework for modern web app development.Achieve the maximum speed possible on the Web Platform today, and take it further, via Web Workers and server-side rendering</p>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto" [src]="angularImagePath" alt="Generic placeholder image">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">JWT <span class="text-muted">See for yourself.</span></h2>
        <p class="lead">JSON Web Tokens are an open, industry standard RFC 7519 method for representing claims securely between two parties.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img class="featurette-image img-fluid mx-auto" [src]="jwtImagePath" alt="Generic placeholder image">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Node.JS<span class="text-muted">API</span></h2>
        <p class="lead">Node.js is a very powerful JavaScript-based platform built on Google Chrome's JavaScript V8 Engine. It is used to develop I/O intensive web applications like video streaming sites, single-page applications, and other web applications. Node.js is open source, completely free, and used by thousands of developers around the world.</p>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto" [src]="nodejsImagePath" alt="Generic placeholder image">
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->
</main>